node_modules/


# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
terraform/infra.tfplan

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
prometheus.yml

# Documentation (local only, except README.md)
*.md
!README.md
